{% extends 'base.html' %}
{% block title %} HVT-Ticketing System-Ticket Management {% endblock %}
{% block content %}

{% if user.is_authenticated %}
<div class="col-ml-8">
    <h5>Tickets Management</h5>
    <div class="card card-body">
        <table class="table table-condensed table-hover table-bordered">
            <tr>
                <th>Ticket Id</th>
                <th>Ticket subject</th>
                <th>Reporting Client </th>
                <th>Assigned To </th>
                <th>Category</th>
                <th>Status </th>
                <th>Priority</th>
                <th>Action</th>
            </tr>
        </table>
    </div>
</div>
<br>
<div class="col-sm-2">
    <div class="bs-component">
        <div class="btn-group-vertical" data-toggle="buttons">
            <a href="{% url 'client_enq' %}"><button class="btn-primary btn" style="color: white;">Client Enquiries</button></a>
            <br>
            <a href="{% url 'ticket_mgt' %}"><button class="btn-primary btn" style="color: white;">Ticket Management</button></a>
            <br>
            
            <a href="{% url 'client_info' %}"><button class="btn-primary btn" style="color: white;">Client Information</button></a>
            <br>
        </div>
    </div>
</div>
</div>

{% endif %}
{% endblock %}